*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: aqua;
}
.scroll{
    width: 50%;
}
.content{
    margin: 10px;
    border:1px solid black ;
}
::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #00DBDE;
    background-image: linear-gradient(0deg, #00DBDE 0%, #FC00FF 100%);

    border-radius: 10px;
}